agents>=1.4.0
aiofiles>=24.1.0
aiohttp>=3.11.18
chromadb>=0.6.3
fastapi>=0.115.12
httpx>=0.28.1
mcp[cli]>=1.7.1
neo4j>=5.28.1
openai>=1.86.0
pandas>=2.3.0
pinecone>=7.3.0
plotly>=6.1.2
psutil>=7.0.0
pyodbc>=5.2.0
python-dotenv>=1.1.0
streamlit>=1.45.1
uvicorn>=0.30.0 
